<h1>All users</h1>

<%= will_paginate %>

<table class="profile">
  <tr>
    <td class="main">
      <table class="users">
        <%= render @users %>
      </table>
    </td>
  </tr>
</table>

<%= will_paginate %>
