    <h1>About Us</h1>
    <p>
      Founded in 2010, XFL Media is dedicated to the creation of innovative fantasy
      sports products. XFL Media’s initial offering, a feature-rich fantasy football
      management service, is scheduled for release in early summer of 2011.
      <a href="http://www.xflmedia.com/home/?page_id=2/">more</a>
    </p>

