<h1>Help</h1>
<p>
  Get FREE INFO at
  <a href="http://freefantasyfootball.info">Free Fantasy Football dot Info</a>.
  White label promotion at 
  <a href="http://www.fantasysportsmarketing.com">Fantasy Sports Marketing</a>.
</p>
