.container {
  width: 710px;
}

body {
  // background: #cff;
  background: #777
}


header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #777;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* User show page, micropost index page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
  vertical-align: top;
}

tbody tr.sidebar:nth-child(even) td {
 background: #ccc;  
}

table.sidebar tbody tr:nth-child(even) td {
 background: #ccc;  
}

table.profile table caption {
  font-weight:bold;
}

table.jmcjmc td a {
  //font-weight: bold;
}

table.jmcjmc td {
  text-align: center;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  //background: #ffc;
  background: #ccc;

}

form.new_group label, form.edit_group label {
  //font-weight: normal;
  float: left;
  width: 240px;
  //width: 200px;
  text-align: right;
}

form.new_group input, form.new_group select {
  margin-left: 10px;
  width: 230px;
}

fieldset.jmc {
//  margin-bottom: 30px;
}

fieldset div.pos_field select {
  margin-left: 10px;
  width: 50px;
}

form.edit_group input, form.edit_group select {
  margin-left: 10px;
  width: 230px;
}

span.fieldnote {
  margin-top: 0px;
  margin-left: 250px;
  display: block;
  font-size: 75%;
  color: #666;
}
  
/* quick hack for visual testing */
table.jmc {
  border: 1px dotted red;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* A wafer-thin amount of CSS for the signup form */
div.field, div.actions {
  margin: 0;
  padding: 0;
//  margin-bottom: 10px;
}

/* Styling for error messages */
ul.scoring_fields div.field_with_errors {
  display: inline;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Styling for the 'All users' page */
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/*
table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}
*/

table.users {
  margin-top: 1em;
  vertical-align: top;
}

table.users tr td.user {
  display: block;
}

table.users tr td.edit_membership {
  width: 1px;
  //height: 1px;
}

form.edit_membership {
 margin: 0;
 padding: 0;
 //border: 1px dotted red;  
}

form.edit_membership div.actions {
  margin: 0;
  padding: 0;
  //border: 1px dotted blue;
}

/* Styling for the 'All groups' and 'All rosters' page */
table.groups {
  margin-top: 1em;
}

table.groups tr td.group span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

table.groups tr td.attr {
  font-size: 85%;
  color: #667;
}

table.jmc tr.sidebar td.jmc {
  color: #a11;
}

td.jmc {
  color: #1a1;
}

tr.sidebar td {
  font-size: 85%;
  color: #667;
}

table.sidebar tr td {
  font-size: 85%;
  color: #667;
}

td.attr {
  font-size: 85%;
  color: #667;
}

table.groups tr td.attr span.attr {
  display: block;
  color: #667;
}

table.rosters {
  margin-top: 1em;
}

table.rosters tr td.roster span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

table.lineup_formats {
  margin-top: 1em;
}

table.lineup_formats tr td.lineup_format span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}



/* Styling for microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.gravatarsmall {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 30px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

/* Button from oregon athletic club, of all places */
.button-small{
			display:inline-block;
			width:auto;
			white-space:nowrap;
			height:32px;
			margin:5px 5px 0 0;
			padding:0 22px;
			text-decoration:none;
			text-align:center;
			font-weight:bold;
			font-style:normal;
			font-size:15px;
			line-height:32px;
			cursor:pointer;
			border:0;
			-moz-border-radius:4px;
			border-radius:4px;
			-webkit-border-radius:4px;
			vertical-align:top;
}
.button-small{
			float:none;
			display:inline-block;
			height:auto;
			line-height:18px !important;
			padding:2px 15px !important;
			font-size:11px !important;
}
.button-small:link,.button-small:active,.button-small:visited,.button-small{
			background-color:#336699;
			color:#ffffff;
}
.button-small:hover{
			background-color:#1e5781;
			color:#ffffff;
}
