// Place all the styles related to the Details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.details {
  // Add the details class to your body tag
  // Then, place scoped styles here.
}

p span.detail {
  font-weight: bold;
}

div.detail a, span.detail a {
  display: inline;
  margin-left: 1px;
  font-size: 70%;
  //border: 1px dotted red;
}

body.detail {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  background: #bbb;
  //opacity: 0.5;
}

.detail_container {
  //width: 400px;
}

.detail_container p {
  margin-left: 10px;
}
