%h3= @title
%p
 %span.detail Head-to-head
 leagues pair owners in weekly matchups, as determined by the league schedule.
%p
 %span.detail Points only
 leagues are based on going for the highest total score
%p
 %span.detail Combination
 leagues are simply head-to-head leagues with the points statistics available
