%h3 Divisions details
%p Choose a system that places all teams into a single division or one that splits them into two, three or four groups.
%p Division winners automatically qualify for the playoffs.

