%h3 League type details
%p
 %span.detail Redraft
 leagues start completely anew each season
%p
 %span.detail Keeper
 leagues specify how many players each manager may carry over into the next season
%p
 %span.detail Salary cap
 leagues... redraft + salary cap is simpler, but could work with keeper leagues
%p
 %span.detail Dynasty
 leagues carry over in full to the next year
