%h3= @title
%p
 Playoffs may include 4, 6 or 8 teams that qualify based on regular season results. The playoff period is 2 weeks for 4 teams, and 3 weeks for 6 or 8 teams. In the 6 team scenario, the top two seeds receive byes for the first week of playoff action.
%h3 Qualification
%p
 In leagues with multiple divisions, 
 %span.detail division winners
 automatically qualify for playoffs. Remaining teams qualify based on best win-loss record in head-to-head competition (and other tie-breaker criteria).
