%h3= @title
%p
 The two options for scoring yardage points in the Passing, Rushing and Receiving categories are <strong><em>Base yardage</em></strong> and <em><strong>Incremental yardage</strong></em>.
%p
 By default, Base yardage is set to 0; Incremental yardage is enabled and set to 1 pt for each 20 or 10 yds (passing or rushing/receiving, respectively). 
%p
 For example, let's look at the case of a QB passing for 257 yds. In the default setup, he would score 12 pts, or 1 pt for each increment of 20 yds. 
%p
 By changing the settings for Passing Yards Base to 100 yds and Passing Yards Incremental to 50 yds, the same QB passing for 257 yds would score 4 pts, or 1 pt for the base of 100 yds, plus 1 pt for each increment of 50 yds beyond the base of 100 yds.
