%h3= @title
%p
 The two options for scoring yardage bonus points in the Passing, Rushing and Receiving categories are <strong><em>Total yardage</em></strong> and <em><strong>Long Touchdown yardage</strong></em>.
%p
 These options are not enabled by default.
%h3 Total yardage bonus
%p
 A good example of this setting are <strong>Sports Guy</strong> leagues, where Passing Yards Bonus is set to <em><strong>350 yds or more = 5 pts</strong></em> and the Rushing/Receiving Yards Bonus is set to <em><strong>175 yds or more = 5 pts</strong></em>. A nice reward for team managers after a big day!
%h3 Long TD yardage bonus
%p
 This bonus can be awarded for big-yardage touchdowns. For example, many traditional leagues offer a 'double points' bonus for scores of 50 yards or more (i.e.  4 pts for passing, 6 pts for rushing/receiving/defense/return touchdowns)
 
 
