<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.xflmedia.com/home/?page_id=5/">Blog</a></li>
      <li><a href="http://freefantasyfootball.info/">fff.info</a></li>
    </ul>
  </nav>
</footer>

